/* basic elements*/

html{
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
	font: georgia, sans-serif;
	color: #555753;
	background-color: rgb(250, 250, 250);
	}
p {
	padding-left:6%;
	padding-right:6%;
	text-align: justify;
	text-indent: 2em;
	}
h1{
	font-size: 2.5em;
	text-align: center;
}



/* specific divs */

.navbar{
	width: 98%;
  padding: 1%;
  color: #fff;
  background-color: #134347;
}

.logo{
	width: 3%;
	margin-left: auto;
}

.header {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	z-index: 0;
	}

.footer{
	margin-top:5%;
	width: 90%;
  padding: 3em 5%;
  color: #fff;
  background-color: #134347;
  text-align: center;
}
